doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/jq.js")
    script(src="/javascripts/underscore.js")


    body
        block content
        block scripts