#table-wrapper
    .players
        .player.one
            .avatar
            .wrapper-table
                .name sadfsadfas
                .cash $ 1254
            .progressbar.progressbar-red
                .progressbar-inner
        .player.two
            .avatar
            .wrapper-table
                .name sadfsadfas
                .cash $ 1254
            .progressbar.progressbar-red
                .progressbar-inner
        .player.three
            .avatar
            .wrapper-table
                .name sadfsadfas
                .cash $ 1254
            .progressbar.progressbar-red
                .progressbar-inner
        .player.four
            .avatar
            .wrapper-table
                .name sadfsadfas
                .cash $ 1254
            .progressbar.progressbar-red
                .progressbar-inner
        .player.five
            .avatar
            .wrapper-table
                .name sadfsadfas
                .cash $ 1254
            .progressbar.progressbar-red
                .progressbar-inner
        .player.six
            .avatar
            .wrapper-table
                .name sadfsadfas
                .cash $ 1254
            .progressbar.progressbar-red
                .progressbar-inner
        .table
            .cards-layer
                .card-pair.six
                    .card-mover.c1
                        .card-wrapper
                            .card.front
                                .type A
                                .suit.spades
                            .card.back
                    .card-mover.c2
                        .card-wrapper
                            .card.front
                                .type A
                                .suit.spades
                            .card.back
                .card-pair.five
                    .card-mover.c1
                        .card-wrapper
                            .card.front
                                .type A
                                .suit.spades
                            .card.back
                    .card-mover.c2
                        .card-wrapper
                            .card.front
                                .type A
                                .suit.spades
                            .card.back
                .card-pair.four
                    .card-mover.c1
                        .card-wrapper
                            .card.front
                                .type A
                                .suit.spades
                            .card.back
                    .card-mover.c2
                        .card-wrapper
                            .card.front
                                .type A
                                .suit.spades
                            .card.back
                .card-pair.three
                    .card-mover.c1
                        .card-wrapper
                            .card.front
                                .type A
                                .suit.spades
                            .card.back
                    .card-mover.c2
                        .card-wrapper
                            .card.front
                                .type A
                                .suit.spades
                            .card.back
                .card-pair.two
                    .card-mover.c1
                        .card-wrapper
                            .card.front
                                .type A
                                .suit.spades
                            .card.back
                    .card-mover.c2
                        .card-wrapper
                            .card.front
                                .type A
                                .suit.spades
                            .card.back
                .card-pair.one
                    .card-mover.c1
                        .card-wrapper
                            .card.front
                                .type A
                                .suit.spades
                            .card.back
                    .card-mover.c2
                        .card-wrapper
                            .card.front
                                .type A
                                .suit.spades
                            .card.back
                //
                   5 table cards
                .table-cards
                    .card-mover.c5
                        .card-wrapper
                            .card.front
                                .type A
                                .suit.spades
                            .card.back
                    .card-mover.c4
                        .card-wrapper
                            .card.front
                                .type K
                                .suit.spades
                            .card.back
                    .card-mover.c3
                        .card-wrapper
                            .card.front
                                .type Q
                                .suit.spades
                            .card.back
                    .card-mover.c2
                        .card-wrapper
                            .card.front
                                .type J
                                .suit.spades
                            .card.back
                    .card-mover.c1
                        .card-wrapper
                            .card.front
                                .type 10
                                .suit.spades
                            .card.back
                .deck-wrap
                    .deck
            .chips-layer
                #dealer-chip D
                .bet.player1
                .bet.player2
                .bet.player3
                .bet.player4
                .bet.player5
                .bet.player6
            #control-block
                .control-wrapper
                    button.poker-btn.check Check
                    button.poker-btn.bet Raise
                    button.poker-btn.fold Fold


script(src='/js/animation.js')
