<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../css/cards.css"/>
</head>
<body>
<div class="card ace">
    <div class="type">A</div>
    <div class="suit spades"></div>
</div>
<div class="card ace">
    <div class="type">A</div>
    <div class="suit hearts"></div>
</div>
<div class="card ace">
    <div class="type">A</div>
    <div class="suit diamonds"></div>
</div>
<div class="card ace">
    <div class="type">A</div>
    <div class="suit clubs"></div>
</div>
</body>
</html>